@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-garmin-blue: #007AC3;
  --color-garmin-dark: #111111;
  --color-garmin-gray: #2A2A2A;
  --color-garmin-card: #1E1E1E;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111111;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  @apply bg-garmin-dark text-gray-100;
}